<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mstoyanov.musiclessons"
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"
    android:xlargeScreens="true"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MusicLessonsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:versionCode="15"
        android:versionName="3.4"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_label"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAddStudent"
            android:label="@string/add_student"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain">
        </activity>
        <activity
            android:name=".ActivityStudentDetails"
            android:label="@string/student_details"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain">
        </activity>
        <activity
            android:name=".ActivityEditStudent"
            android:label="@string/edit_student"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityStudentDetails">
        </activity>
        <activity
            android:name=".ActivityAddLesson"
            android:label="@string/add_lesson"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain">
        </activity>
        <activity
            android:name=".ActivityLessonDetails"
            android:label="@string/lesson_details"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityMain">
        </activity>
        <activity
            android:name=".ActivityEditLesson"
            android:label="@string/edit_lesson"
            android:launchMode="singleTop"
            android:parentActivityName=".ActivityLessonDetails">
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.ACTION_SENDTO" />
        </intent>
    </queries>
</manifest>
